
<!-- -->
body
{
    font-size: 26px;
    color: orange;
    background-color: #D3D3D3;
}
 <!--Highlight the Big Headings-->
h1 {
    color: #ffc;
    background-color: #009;
}
<!--Navy Paragraghs-->
p {
    color: navy;
}
<!--ancors-->
a {
    color: blue;
}
