

body
{
    font-size: 26px;
    color: navy;
    background-color: #ADD8E6;
}
 
h1 {
    text-transform: uppercase;
    color: #ffc;
    background-color: #009;    
}

h2 {
    color: #c464a2;
    border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}
p {
    color: navy;
}

a {
    color: #0000FF;
}

